@import './base/normalize.css';
@import './base/reset.css';
@import './base/fonts.css';

@import './tokens/tokens.css';

@import './components/add-button.css';
@import './components/list-switcher.css';
@import './components/task-meta.css';
@import './components/task-card.css';
@import './components/task-details.css';
@import './components/task-modal.css';
@import './components/add-list-modal.css';
@import './components/confirm-delet-modal.css';
@import './components/list-actions-modal.css';
@import './components/change-status-modal.css';

@import './layout/app-container.css';
@import './layout/sidebar.css';
@import './layout/main-content.css';
@import './layout/main-header.css';
@import './layout/tasks.css';

body {
  min-width: 750px;
  font-family: var(--font-family-primary);
  font-size: var(--font-size-base);
  line-height: var(--line-height-tight);
  color: var(--color-text-base);
}

html {
  height: 100%;
}
body {
  min-height: 100%;
}
